services:
  migrate:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: e-hotel-migrate
   
    entrypoint:
      [
        "migrate",
        "-path",
        "migrations",
        "-database",
        "postgres://${DB_USER}:${DB_PASSWORD}@${DB_HOST}:${DB_PORT}/${DB_NAME}?sslmode=disable",
        "up",
      ]
    depends_on:
      - db
    networks:
      - e-hotel-network
    restart: "no"

  app:
    build:
      context: .
      dockerfile: Dockerfile
    container_name: e-hotel-app
    depends_on:
      - db
    
    env_file:
      - .env
    environment:
      - db_host=${DB_HOST}
      - db_port=${DB_PORT}
      - db_user=${DB_USER}
      - db_name=${DB_NAME}
      - db_password=${DB_PASSWORD}
      - secret_key=${SECRET_KEY}
      - SKIP_MIGRATION=${SKIP_MIGRATION}
    ports:
      - "8082:8080"
    networks:
      - e-hotel-network
    restart: unless-stopped

  db:
    image: postgres:15-alpine
    container_name: postgres_db_e-hotel
    environment:
      - POSTGRES_USER=${DB_USER}
      - POSTGRES_DB=${DB_NAME}
      - POSTGRES_PASSWORD=${DB_PASSWORD}
      # 'trust' dihapus karena kita sudah pakai password
    volumes:
      - pgdata:/var/lib/postgresql/data
    ports:
      - "5436:5432"
    networks:
      - e-hotel-network
    restart: unless-stopped

volumes:
  pgdata:

networks:
  e-hotel-network:
    name: e-hotel-network